@media (min-width: 700px) {
  .blog-post {
    margin: 3em auto 0 ;
    width: auto;
    max-width: 1400px;

  }
}

div .blog-post {
  background:#4f4f4f;
  border-radius: 15px;
  padding-left: .5em;
  padding-bottom: .25em;
}

h2 {
  padding-top: .5em;
  color: orange;
  text-transform: capitalize;
}