/* VARIABLES AND DECLARATIONS */

:root {
  /* // Colors */
  --black: #353535;
  --gray: #4f4f4f;
  --medium-gray: #737373;
  --light-gray: #c4c4c4;
  --orange: #f96855;

  /* // Semantic color names */
  --accent: #f96855;
  
  --body-background: #353535;
  --menu-background: #4f4f4f;
  
  --main-font-color: #c4c4c4;
  --menu-active-color: #c4c4c4;
  --menu-font-color: #737373;
  --link-color: #f96855;

  --font-light: 300;
  --font-bold: 700;
}

@custom-media --large-viewport (min-width: 701px);
@custom-media --small-viewport (max-width: 700px);


/*GENERAL SYLES */ 
html {
  font-size: responsive;
}
  
body{
  color: var(--main-font-color);
  background: var(--body-background);
}

a, a:hover, a:active{
  text-decoration: none;
}

img {
  margin: 0
}

.button {
  align-self: flex-end;
  background: var(--menu-background);
  color: white;
  padding: .5em 1em;
  border: 1px solid black;
  margin: .5em 0;
}

  .button:hover {
    background:white;
    color: var(--accent);
  }


#sidebar {
  display: flex;
  background: var(--menu-background);
}

.logo {
  text-transform: uppercase;
  margin-bottom: 2em;
}

#sidebar .nav {
  color: var(--menu-font-color);
  display: inline-block;
  margin-right: 1em;
  padding-bottom: 1em;
  outline: 0;
}

#showcase {
  display: flex;
  background-image: url('../img/showcase.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 30em;
  color: var(--gray);
}

#showcase .content-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1em;
}

#showcase .content-wrap h2 {
  border: 0;
  margin-bottom: 12em;
}

#showcase .content-wrap .button {
  align-self: center;
}


/* Projects */
@mixin dark-overlay{
  &:after{
    content: "";
    width: 50%;
    height: auto;
    position: absolute;
    z-index: -1;  
    top: 0;
	right: 0;
	left: 0;
	bottom: 0;
  }
}



.image {
    position:relative;
    width: auto;
    height: auto;
}
.image img {
    width:100%;
    vertical-align:top;
}
.image:after {
    content:'\A';
    position:absolute;
    width:100%; height:100%;
    top:0; left:0;
    background:rgba(0,0,0,0.6);
    opacity:0.3;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.image:hover:after {
    opacity:1;
}

  #section-a {
    padding: 2em 1em 1em;
  }

  #section-a ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  #section-a li {
    margin-bottom: 1em;
    background: var(--menu-background);
    color: #353535;
  }

  .card-content {
    padding: 1.5em;
    color: whitesmoke;
  }
  
  .card-content h3 {
    color: orange;
  }
  
/* .card .card-content {
  position: absolute;
  bottom: 0;
  color: var(--light-gray);
  width: 100%;
  padding: 2em;

} */



#main-footer {
    display: grid;
    grid-template-columns: auto;
  }  
  
  #main-footer .icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #main-footer .footnote {
    font-size: 10pt;
    color: #8f9aa7;
    padding-top: 35px;
    opacity: .6;
}

  .highlight {
    color: var(--orange);
}

/* RESPONSIVE MEDIA QUERIES */
@media(max-width: 700px) {
  #main-grid {
    display: grid;
    grid-template-rows: 5em auto 15em; 
  }

  #main {
    display: grid;
    grid-template-columns: 1em 6fr 1em;
    grid-template-rows: auto;
    grid-gap: .5em;
    grid-template-areas: 
      "column1 showcase column2"
      "column1 project column2"
      "column1 blog column2"
      "column1 about column2"
      "column1 contact column2";
  }



  #showcase {
    grid-area: showcase;
  }

  #section-a {
    grid-area: project;
  }

  #section-b {
    grid-area: blog;
  }

  #section-c {
    grid-area: about;
  }

  #section-d {
    grid-area: contact
  }
}

/* SMALL SCREEN */







